@import "../variables";

.myTalisman-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.threejs-container{
    width: 100vw;
    height: 100vh;

}

iframe{pointer-events: none;
    width: "100%"; height: "100%"; border: "none" }


    .myTalisman-controls-container{
        position: absolute;
        display: flex ;
        justify-content: space-between;
        width: 85%;
        height: 7%;
        bottom:5%;
    }

    .myTalisman-controls-internal-container{
        height: 100%;
        button{
           background-color: transparent;
            height: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            border: none;
            cursor: pointer;
          
            
        }
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5%;
    }

    .myTalisman-controls-internal-container.left{
        width: 20%;
       
        
        justify-content: start;
        button{
            background: rgba(255, 255, 255, 0.30);
            backdrop-filter: blur(5.699999809265137px);
        }
        
    }

    .myTalisman-audio-controls-container{
        width: 30%;
        height: 120%;
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        .audio-range-bar-container{
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 2%;
            .progress-bar{
                width: 80%;
            }
            p{
                font-size: 1.2rem;
                color:$color_text1;
            }
        }
      
    }

    .myTalisman-controls-internal-container.center{
        width: 100%;
        
        
        justify-content: center;
        button{
            background: rgba(255, 255, 255, 0.30);
            backdrop-filter: blur(5.699999809265137px);
        }
        
    }


    .myTalisman-controls-internal-container.right{
        width: 32%;
        background: rgba(255, 255, 255, 0.30);

        backdrop-filter: blur(5.699999809265137px);
        border-radius: 100px;
       
    }

    .myTalisman-intention-container{
        position: absolute;
        top: 0%;
        width: 50%;
        height: 18%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index:0;
        >p{
            font-size: 5rem;
            font-weight: 500;
            font-family: $font_titulos;
            color:$color_text1;
            text-transform: uppercase;
            text-shadow: 
                0 0 5px #e7e0dc,   /* Sombra blanca pequeña */
                0 0 10px #e7e0dc,  /* Sombra blanca mediana */
                0 0 15px #e7e0dc,  /* Sombra blanca más grande */
                0 0 20px #e7e0dc, /* Sombra de color (rosa en este caso) */
                0 0 30px #e7e0dc, /* Sombra de color más grande */
                0 0 40px #e7e0dc; /* Sombra de color más grande aún */
        }
    }

