@import '../../styles//variables.scss';

.custonTalisman-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.custonTalisman-internal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;

  background-color: $color_background1;
  > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  > .info-talisman-container {
    position: absolute;
    bottom: 5%;
    left: 5%;
    h6 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 5%;
    }
  }

  .sold-out-container {
    position: absolute;
    width: 70%;
    z-index: 50;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.custonTalisman-internal-bullet-container {
  position: absolute;
  left: 5%;
  top: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
  width: 10%;

  .bullet {
    width: 65%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    filter: grayscale(100%);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.bullet-visible {
  width: 65%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.custonTalisman-internal-arrow-container {
  position: absolute;
  right: 2%;
  width: 5%;
  aspect-ratio: 1;
}
.custonTalisman-internal-arrow-container.left {
  position: absolute;
  left: 2%;
  svg {
    transform: rotate(180deg);
  }
}

.custonTalisman-internal-container.right {
  padding-top: 13vh;
  justify-content: start;
  background-color: $color_background2;
}

.custonTalisman-internal-center-container {
  width: 75%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .options-container {
  }

  > h2 {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
  }

  h5 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $color_primary;
  }

  h3 {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: $color_primary;
  }
}

.custonTalisman-auxiliar-container {
  display: flex;
  align-items: center;
}

.buttons-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;

  > .info-container {
    background-color: rgba($color: $color_salmon, $alpha: 0.1);
    padding: 3%;
    padding-inline: 10%;
    font-size: 1.4rem;
    font-family: $font_paragrahp;
    li {
      margin-top: 1rem;
    }

    > .icons-container {
      margin-bottom: 1.5rem;
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  button {
    color: $color_primary;
    font-size: 14px;
    background-color: transparent;
    font-weight: 700;
    line-height: normal;
    border: solid 2px $color_primary;
  }
}

@media screen and (max-width: 678px) {
  .custonTalisman-container {
    flex-direction: column;
    height: fit-content;
  }

  .custonTalisman-internal-container {
    width: 100%;
    height: fit-content;
    padding: 0;


  }
  .custonTalisman-internal-container.left {
    margin-top: 10vh;
    width: 100%;
    height: 35vh;
    padding: 0;
  }

  .custonTalisman-internal-container.right {
    padding: 0;
    margin-top: 2vh;
  }

  .custonTalisman-internal-bullet-container {
    top: auto;
    left: 0%;
    bottom: 0%;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 7vw;

    width: 100%;
    height: 2rem;
    .bullet {
      width: 1rem;
      border-radius: 50%;
      filter: none;
      background-color: gray;
      img {
        height: 0%;
       
      }
    }
  }

  .bullet-visible {
    width: 1rem;
    background-color: $color_primary;
    img {
      height: 0%;
     
    }
  
   
  }

  .custonTalisman-internal-arrow-container {
    width: 10%;
  }

  .custonTalisman-internal-center-container {
    width: 85%;
    height: 90%;
    margin-top: 0;
    > h2 {
      position: absolute;
      top: -90vh;
      left: 0%;
      width: 100%;
      height: 10%;
      padding-left: 5%;
      background-color: $color_background2;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
    }
    h3 {
      font-size: 3rem;
      margin-bottom: 3%;
    }

    h5 {
      font-size: 1.8rem;
      margin-bottom: 5%;
    }
  }

  .buttons-container {
    flex-direction: column-reverse;
    row-gap: 3vh;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 10vh;

    > .info-container {
      margin-bottom: 5vh;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 5% 0;

      font-size: 1.7rem;

      > .icons-container {
        margin: 0 auto;
        margin-bottom: 3rem;
        height: 30px;
        width: 80%;
        display: flex;
        justify-content: space-between;
      }
      > ul {
        margin: 0 auto;
        width: 60%;

        li {
          margin-left: 5%;
          margin-bottom: 15px;
        }
      }
    }

    button {
      font-size: 1.6rem;
      height: 6.5vh;

      width: 100%;
    }

    .auxiliar-buttons-container {
      width: 100%;
    }
  }
}
