@import "../../styles//variables.scss";

.dropdown-container{
width: 100%;
height: 6vh;
margin: 0 auto;
margin-bottom: 2%;
margin-bottom: 2%;

select{
   
  width: 100%;
  height: 100%;
  padding-left:2%;
  border: 1px solid rgba(187, 187, 187, 0.30);
background: rgba(255, 255, 255, 0.30);
backdrop-filter: blur(5.699999809265137px);

font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: normal;

}
option{
  background-color: $color_background1;
  width: 100%;
}


}


.dropdown-error{
  width: 100%;
height: 6vh;
margin: 0 auto;
margin-bottom: 2%;
margin-bottom: 4%;
  select{
    border:solid 2px $color_primary;
    margin-bottom: 0.5vh;
    background-color: rgba($color: $color_yellow, $alpha: 1);
  }

  p{
    color:$color_primary
  }

  
}






.dropDown-Reveal {
    animation-name: dropDown-Reveal;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    
  }
  
  @keyframes dropDown-Reveal {
    from {

      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
   
    }
  }





@media screen and (max-width: 678px) {
    .dropdown-container{
       
        height: 7vh;
        margin-bottom: 5%;
        
        
        }
}