@import "../variables";

.dropdownIntensiones-container {
  position: absolute;
  display: flex;
  padding-top: 5vh;
  padding-bottom: 5vh;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: $color_background1;
  bottom: 5%;
  row-gap: 2vh;
  z-index: 2;
  overflow-y: scroll;
}

.dropdownIntensiones-button-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .icon-container {
    position: static;
    height: 18px;
    width: 18px;
    margin-right: 2%;
    svg {
      path {
        fill: $color_primary;
      }
    }
  }
}

.dropdownIntensiones-card {
  width: 80%;
}

.dropdownIntensiones-options-card {
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-family: $font_titulos;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 2%;
  }

  .icon-container {
    position: static;
    height: 18px;
    width: 18px;
    margin-right: 2%;
    svg {
      path {
        fill: $color_primary;
      }
    }
  }
}

.dropdownIntensiones-options-info {
  padding-bottom: 2vh;
  padding-top: 2vh;
  h6 {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
  }
  p {
    margin-top: 1vh;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
}

.dropdownIntensiones-options-card.item-1 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 252, 0.02) 0%,
    #e18c00 100%
  );
}
.dropdownIntensiones-options-card.item-2 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 252, 0.02) 0.22%,
    #edc7b9 100%
  );
}
.dropdownIntensiones-options-card.item-3 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 252, 0.02) 0%,
    #76cbc0 100%
  );
}
.dropdownIntensiones-options-card.item-4 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 252, 0.02) 0.06%,
    #e73bd6 100%
  );
}
.dropdownIntensiones-options-card.item-5 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 252, 0.02) 0.06%,
    #82b74d 100%
  );
}
.dropdownIntensiones-options-card.item-6 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 252, 0.02) 0.38%,
    #bcd0ee 100%
  );
}
.dropdownIntensiones-options-card.item-7 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 252, 0.02) 0.38%,
    #ecea60 100%
  );
}
.dropdownIntensiones-options-card.item-8 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 252, 0.02) 0.22%,
    #ffefee 100%
  );
}
