@import "../../styles//variables.scss";

.authPopUp-container{
    position: absolute;
    width: 40%;
    background-color: $color_darkPurple;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 10;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 15vh;
    h4{
        font-size: 3.5rem;
        margin-left: 5%;
        margin-bottom: 1%;
        color:$color_yellow;

font-weight: 300;

    }
    p{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
        font-family: $font_titles;
        font-size: 1.8rem;
        font-weight: 300;
color:$color_text1;

    }
  
    .button-auxiliar-container{
        display: flex;
        justify-content: center;
        width: 100%;
      height: 20%;
  
      button{
        color:$color_yellow;
      font-weight: 600;
        font-size: 1.5rem;
        padding: 0%;
        border: none;

  
    
      }
    }
}