@import '../../styles/variables.scss';

.error-page-container {
  background-color: $color_yellow;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  justify-content: center;
  align-items: center;
  color: $color_primary;
  text-align: center;

  > h1 {
    font-size: 5rem;
    padding-inline: 5%;
  }
  > h2 {
    font-size: 2rem;
    padding-inline: 5%;
  }

  > .image-container {
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    > svg {
      path {
        fill: $color_primary;
      }
    }
  }

  > button {
    transition: transform 0.5s;
    &:hover {
      background-color: $color_primary;
      color: $color_yellow;
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 678px) {
  .error-page-container {
    row-gap: 5vh;

    > h1 {
      font-size: 3.5rem;
    }
    > h2 {
      font-size: 2rem;
    }

    

    > .image-container {
      width: 25%;
      aspect-ratio: 1;
      > svg {
        path {
          fill: $color_primary;
        }
      }
    }

    > button {
      transition: transform 0.5s;
      &:hover {
        background-color: $color_primary;
        color: $color_yellow;
        transform: scale(1.05);
      }
    }
  }
}
