.body-container {
    width: 100vw;
    min-height: 100vh;
}

.mail-container {
    margin: 0 auto;
    width: 70%;
    background-color: #f7f0f1;
}

.mail-container .logo-container {
    margin: 0 auto;
    padding-top: 10vh;
    width: 15%;
}

.mail-container .logo-container img {
    object-fit: cover;
    width: 100%;
}

.mail-container .text-container {
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

.mail-container .text-container h2 {
    font-size: 30px;
    font-weight: 400;
    color: #6f3289;
    margin-top: 2%;
    margin-bottom: 2%;
}





.mail-container .text-container p {
    font-size: 20px;
}

.mail-container .button-container {
    width: fit-content;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10vh;
}

.mail-container .button-container a {
    background-color: #ECEA60;
    color: #662A80;
    font-size: 18px;
    font-weight: 600;
    padding: 2.5vh;
    border-radius: 30px;
    border: none;
    padding-inline: 4vh;
    width: 20vw;
    text-decoration: none;
}

.mailer-footer {
    width: 100%;
    height: auto;
    background-color: #FFEFEE;
}

.top-container {
    width: 100%;
    text-align: center;
}

.top-container .bottom-container p {
    font-size: 15px;
    margin: 0;
    padding: 10px;
}

table{
    width: 100%;  
   
}


.bottom-container{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1%;
    padding-bottom: 1%;
}