@import "../../styles/variables.scss";
.mp-form-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

} 


.form-checkout {
  margin: auto;

    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5vh;
    padding-bottom: 0;
background-color: $color_background1;

 
    font-family: $font_titles;
 
    
    >.error-message{
      color:red;
      font-size: 1.5rem;
    
    }

    >.error{
      border: solid 2px red;
    }

    >label{
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 1px;
    }
  }
  
  .form-checkout input, 
  .form-checkout select, 
  .form-checkout button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  #form-checkout__submit {
    background-color: $color_salmon;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #form-checkout__submit:hover {
    background-color: #007bb5;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 8px;
  
  }
  
  input::placeholder, select::placeholder {
    color: #aaa;
  }
  
  input:focus, select:focus {
    outline: none;
    border-color: #009ee3;
  }
  
  progress {
    width: 100%;
    height: 8px;
    margin-top: 15px;
  }
  
 
 