@import "../../styles/variables.scss";

.navbar-container {
    position: fixed;
    width: 100vw;
    height: 13vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 40;
    user-select:none;
  
    a:active {
      color: $color_primary; /* Cambia el color según tus necesidades */
    }
  }
  
  .navbar-logo-container {
    height: 70%;
    width: fit-content;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  
  .navbar-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 60%;
    width: 65%;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(13.133333206176758px);
    border-radius: 30px;
  
    .navbar-button-menu-container {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }




  .navbar-button-style {
    display: flex ;
    align-items: center;
    transition: color 1s ease, background-color 1s ease-out;
    border-radius: 20px;
    height: 80%;
    padding-inline: 20%;
    color: $color_darkPurple;
    font-size: 1.6rem;
    
    cursor: pointer;
    li {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  
  .navbar-menu-icon {
    height: 55%;
   border-radius: 50%;
    color: $color_primary;
    transition: color 1s ease, background-color 1s ease-out;
    svg{
      path{
        stroke:$color_primary
      }
    }
    
  }
  
  .navbar-move {
    display: none;
  }
  
  .navbar-button-focus-style {
    display: flex;
    align-items: center;
    transition: color 1s ease, background-color 1s ease-in;
    cursor: pointer;
    background-color: $color_yellow;
    color: $color_darkPurple;
    border-radius: 20px;
    height: 80%;
    padding-inline: 20%;

  }
  
  .navbar-svg-focus-style {
    transition: color 1s ease, background-color 1s ease-in;
    background-color:$color_yellow;
    border-radius: 20px;
    color: $color_text1;
    cursor: pointer;
    .navbar-user-avatar {
      background-color: $color_primary;
    }
  }
  
  .navbar-user-avatar {
    border: 2px solid $color_primary;
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    h5 {
      font-size: 1.6rem;
      color: $color_primary;
      padding: 0.3rem;
    }
  }
  
  .navbar-user-avatar-focus-style {
    background-color: $color_yellow;
    border: 2px solid $color_yellow;
    cursor: pointer;
    h5 {
      color: $color_primary;
    }
  }
  
  .shoping-icon {
    position: relative;
    display: flex;
    justify-content: center;
    >.number-items-container {
      top: -30%;
      right: -35%;
      position: absolute;
      background-color: $color_primary;
      width: 1.5rem;
      aspect-ratio: 1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h2 {
      font-size: 1.4rem;
      color: $color_text1;
      font-weight: 500;
    }
  }
  