@import "../../styles/variables.scss";

.popUpp-container{
    position: absolute;
    width: 40vw;
    height: 40vh;
    padding: 5%;
    z-index: 10;
    background-color: $color_background1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 30px;
    row-gap: 10%;
    h4{
        font-size: 2.5rem;
        color:$color_primary;
        font-weight: 400;
        text-align: center;
    }

    .popUpp-buttons-container{
width: 80%;
display: flex;
justify-content: space-around;

        button{

            width: 35%;
        

    }
   }
    
    svg{
        position: absolute;
        right: 2.5%;
        top:2.5%
    }
}


@media screen and (max-width: 678px) {


    .popUpp-container{
        position: absolute;
        top:12vh;
        width: 90%;
        height: 35vh;
        z-index: 10;
        background-color: $color_background1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        border-radius: 30px;
        row-gap: 10%;
        h4{
            font-size: 2.2rem;
            color:$color_primary;
            font-weight: 400;
            text-align: center;
        }
    
        .popUpp-buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
            button{
    
                width: 40%;
            
    
        }
       }
        
        svg{
            position: absolute;
            right: 3%;
            top:3%
        }
    }

}