@import '../../styles/variables.scss';

.video-container {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  z-index: -20;

  .auxiliar-video-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #fdf1f1, $alpha: 0.75);
  }

  video {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    object-fit: cover;
    z-index: -20; /* Asegura que el video esté detrás del contenido */
  }
}
