@import "../../styles/variables.scss";

.arrowRight-button {
  display: flex;
  column-gap: 5px;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;

  p {
    font-size: 1.8rem;
    font-style: normal;
    font-family: $font_titles;
    margin: 0;
    
    padding-bottom: 0;
  }
  svg {
    height: 2.4rem;
  }
  &:hover{
    transform: scale(1.05);
  }
}



@media screen and (max-width: 1024px) {
  .arrowRight-button {
   
    p {
      font-size: 1.6rem;
   
      margin: 0;
    
    }
    svg {
      height: 2rem;
    }
 
  }

}