@import "../../styles/variables.scss";


.button-transparent{
    background-color: transparent;
    border: solid 2px $color_text1;
    color:$color_text1 ;
    border-radius: 30px;
    font-size: 1.6rem;
    padding: 5%;
    cursor: pointer;
}