@import "../../styles/variables.scss";

.dropDown-mobile-menu-card-container{
    margin: 0 auto;
width: 75%;
min-height: fit-content;
display: flex;
flex-direction: column;


p{
   font-size: 1.5rem;
}

}

.dropDown-mobile-menu-card-title-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    :last-child{
        font-size: 2rem;
    }
    p{
       font-size: 2rem;
    }
    
}

.dropDown-mobile-menu-card-items-container{
       width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;

    >p{
        font-size: 2rem;
        line-height: 4rem;
        color: gray;

    }
}