@import "../../styles//variables.scss";

.siteTerms-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.siteTerms-center-container {
  width: 75%;
  background-color: $color_background2;
padding: 3%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  h3 {
    text-align: start;
    font-size: 4rem;
    font-weight: 300;
    color:$color_primary;
    margin-bottom: 2%;
  }
  h5{
    color: $color_text2;

font-size: 1.6rem;
font-weight: 700;

  }
  p{
    color: $color_text2;
font-size: 1.6rem;
font-weight: 400;
line-height: 24px; /* 150% */

strong{
  cursor: pointer;
}
  }


  ol{
    padding-left: 2%;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 2%;
  }
  ul{
    margin-top: 1.6rem;
    margin-left: 5%;
  }
}


@media screen and (max-width: 678px) {


  .siteTerms-center-container {
    width: 85%;
  padding: 3%;
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  
    h3 {
      text-align: start;
      font-size: 3rem;
      font-weight: 300;
      color:$color_primary;
      margin-bottom: 2%;
    }
    h5{
      color: $color_text2;
  
  font-size: 1.6rem;
  font-weight: 700;
  
    }
    p{
      color: $color_text2;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px; /* 150% */
    }
  
  
    ol{
      font-size: 1.6rem;
      padding-left: 5%;
      line-height: 2.8rem;
      margin-bottom: 2%;
    }
    ul{
      margin-top: 1.6rem;
     
    }
  }
  
}