@import "../../variables";

.intensiones-section2{
  color:$color_primary;
  margin-bottom: 10vh;
  h3{
    text-align: center;
    font-size: 4.8rem;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 10vh;
  }

  ::-webkit-scrollbar{
    display: none;
  }
}

