@import "../../variables";

.home-section3-container {
  width: 100vw;
  background-color: $color_background2;
  h2 {
    text-align: center;
    font-size: 4.8rem;
    color: $color_primary;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 8vh;
  }
  h5 {
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;;
    margin-top: 7vh;
    margin-bottom: 4vh;
  }
}

.home-section3-center-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 74%;


  .section3-interal-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 44%;
  }
  h4 {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.56px;
    color: $color_primary;
    margin-top: 5vh;
  }
}

.section3-image-conteiner {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;

  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.section3-bottom-container {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 2rem;
    margin-right: 5px;
    color: $color_primary;
 
  }
}

.section3-button-container {
  width: fit-content;
  margin: 0 auto;
}

.section3-wallpaper-container {
  width: 100vw;
  aspect-ratio: 2.56;
  margin-top: 10%;
  margin-bottom: 10%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
