@import "../../variables";

.section6-container {
  width: 100vw;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px; /* Radio de borde del dedo de la barra de desplazamiento */
  }
}

.section6-wallpaper-container {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section6-wallpaper-info {
  margin-left: 5%;
  position: absolute;
  width: 35%;
  height: fit-content;
  color: $color_text1;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  h5 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 105.523%; /* 42.209px */
  }
  p {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
  }
}

.section6-title-container {
  margin: 0 auto;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 8vh;
  h4 {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: $color_primary;
    margin-bottom: 8px;
  }
  p {
    font-family: "Marlin Geo";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $color_text2;
  }
}

.section6-top-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

 
}

.section6-top-image-container {
  width: 34%;
  aspect-ratio: 0.75;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.section6-top-info-container{
    width: 66%;
    margin-left: 9%;
    margin-right: 9%;
    h4 {
        font-size: 4rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: $color_primary;
        margin-bottom: 2vh;
      }
      p {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        color: $color_text2;
        margin-bottom: 3vh;
      }
    
}

.section6-ejemplos-container {
    margin-top: 4vh;
    margin-bottom: 10vh;
  width: 90%;
  display: flex;
  justify-content: center;
  column-gap: 2%;
}

.ejemplo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26.3%;
  aspect-ratio: 0.71;
  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
}

.ejemplo-card-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 25%;
  aspect-ratio: 0.7;
  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
}

.ejemplo-card-info-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  h4 {
    font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  p {
    font-family:  "Marlin Geo", "sans-serif";
    font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  button {
    background-color: transparent;
    color: $color_primary;
    font-size: 1.6rem;
font-style: normal;
font-weight: 500;
line-height: normal;
    border: none;
    cursor: pointer;
  }
}
