@import "../../variables";

.home-section4-container{
    width: 100vw;
    background-color: $color_background2;
    padding-bottom: 20vh;
}

.section4-top-container {
    width: 80%;
    margin: 0 auto;
   padding-top: 7vh;
   padding-bottom: 7vh;
   margin-bottom: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   
  }
  
  .section4-top-image-container {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .section4-top-info-container{
      width: 60%;
      margin-left: 5%;
      margin-right: 5%;
      h4 {
          font-size: 4rem;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          color: $color_primary;
          margin-bottom: 2vh;
        }
        h6{
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 1.2vh;
        }
        p {
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 137.5% */
          color: $color_text2;
          margin-bottom: 3vh;
        }
      
  }


.section4-middle-container{
    margin: 0 auto;
    width: 80.5%;
    aspect-ratio: 2.22;
    display: flex;
    margin-bottom:1%;
}
.section4-middle-image-container{
    height: 100%;
    width: 50%;
   
 
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.section4-bottom-container{
    margin: 0 auto;
    margin-bottom: 7vh;
    width: 80%;
    height: 41vh;
    display: flex;
    justify-content: center;
    column-gap: 2%;
}

.section4-bottom-image-container{
    height: 100%;
    aspect-ratio: 1;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.section4-buttom-container{
    width: fit-content;
    margin:0 auto;
    margin-bottom: 8vh;
}