@import "../variables";

.carrousel-intensiones-container{
  position: relative;
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20vh;
}

.intensiones-gallery-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    margin: 0 auto;
    width: 100%;
    position: relative;
     
  
}



.intensiones-gallery-item {
    
    height: 80%;
    aspect-ratio: 0.8;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    background-size: contain;
    border-radius: 30px;
    z-index: 0;
    background: linear-gradient(180deg, rgba(45, 156, 219, 0.00) 0%, rgba(20, 20, 20, 0.72) 100%);
    
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }
  
  .intensiones-gallery-item-1 {
    left: 10%;
    opacity: 0.6;
    transform: translate(-50%);
  }
  
  .intensiones-gallery-item-2,
  .intensiones-gallery-item-4 {
    height: 90%;
   
    opacity: 0.8;
  
    z-index: 1;
  }
  
  .intensiones-gallery-item-2 {
    left: 30%;
    transform: translate(-50%);
  }
  
  .intensiones-gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    
    height: 100%;
  
    opacity: 1;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }
  
  .intensiones-gallery-item-4 {
    left: 70%;
    transform: translate(-50%);
  }
  
  .intensiones-gallery-item-5 {
    left: 90%;
    opacity: 0.6;
    transform: translate(-50%);
  }




  .carrusel-intensiones-btn-next, .carrusel-intensiones-btn-previous {
    position: absolute;
    background-color: rgba($color: $color_primary, $alpha: 0.5);
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        height: 50%;
        aspect-ratio: 1;
    }
}

.carrusel-intensiones-btn-next{
right: 1%;
}
.carrusel-intensiones-btn-previous{
    left: 1%;
   
    }