@import "../variables";
.footer{
    width: 100vw;
    height: 60vh;
    background-color: $color_background1;
}

.footer-top-container{
    width: 100%;
    height: 70%;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.footer-logo-container{
    height: 45%;
    width: fit-content;
    img{
        height: 100%;
        object-fit: cover;
    }
}


.footer-categorys-container{
    
    height: 80%;
    h4{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 10%;
    }
    ul{
        list-style: none;
        font-size: 1.8rem;
        li{

            margin-bottom: 10%;
        }
    }
}

.footer-socialMedia-container{

    h4{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 10%;
    }
    .footer-socialMedia-icons{
        display: flex;
        height: 8%;
        path{
            fill:$color_primary;
        }

    }
}

.footer-bottom-container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}