@import "../variables";


.placaTipo1-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color_background1;
    
  
   
  }
  
  .placaTipo1-image-container {
    width: 34%;
    aspect-ratio: 0.75;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .placaTipo1-info-container{
      width: 66%;
      margin-left: 5%;
      margin-right: 5%;
      h4 {
          font-size: 4rem;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          color: $color_primary;
          margin-bottom: 2vh;
        }
        h6{
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 1.2vh;
        }
        >p {
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 137.5% */
          color: $color_text2;
          margin-bottom: 3vh;
        }
      
  }
  
  
  