@import "../variables";

.wrapper{
    position: relative;
    width: 100%;
    display: flex;
align-items: center;
}


.wrapper .slider{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 16px;
    overflow: auto;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider.dragging .card{
    cursor: grab;
    user-select: none;
}


.slider .card{
    scroll-snap-align: start;
    list-style: none;
   
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    h4{
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
       
    }
    p{
        text-align: center;
        font-family: "Marlin Geo";
        font-size: 2rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

.card .image{
    background-color: purple;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.card .image img{
    width: 100%;
    aspect-ratio: 1.5;
    object-fit: cover;
    border: solid 4px white;
}

.btn-next, .btn-previous {
    position: absolute;
    background-color: rgba($color: $color_primary, $alpha: 0.5);
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        height: 50%;
        aspect-ratio: 1;
    }
}

.btn-next{
right: 1%;
}
.btn-previous{
    left: 1%;
    }