@import "../../styles//variables.scss";

.section6-home-internal-container.left {
  color: $color_text1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57%;

  .section6-home-internal-text-container {
    width: fit-content;

    > p {
      font-size: 2.8rem;
      font-weight: lighter;
      margin-bottom: 2%;
      line-height: 40px; /* 128.571% */
      text-align: end;
      text-transform: uppercase;
      span {
        font-family: $font_titles;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  
  .section6-home-internal-container.left {
  padding-top: 5%;
  padding-bottom: 5%;
  
    .section6-home-internal-text-container {
      width: fit-content;
  
      > p {
        font-size: 1.5rem;
        font-weight: lighter;
        margin-bottom: 2%;
        line-height: 3rem; /* 128.571% */
        text-align: end;
        text-transform: uppercase;
        span {
          font-family: $font_titles;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media screen and (max-width: 678px) {
  
  .section6-home-internal-container.left {
    margin-bottom: 10vh;
    width: 80%;
    text-align: start;

    .section6-home-internal-text-container {
      h2 {
        font-size: 2.5rem;
      }

      > p {
        font-size: 1.8rem;
        line-height:4rem;
        
      }
    }
  }
}