@import './variables.scss';
@import '../home/styles/home1';
@import '../home/styles/home3';
@import '../home/styles/home4';
@import '../home/styles/home5';
@import '../home/styles/home5b';
@import '../home/styles/home6';
@import '../home/styles/home7';
@import '../ui/styles/backgroundVideo.scss';
@import '../ui/styles/buttonArrowRight.scss';
@import '../ui/styles/buttonTransparent.scss';
@import '../ui/styles/footer';
@import '../ui/styles/navbar';
@import '../ui/styles/frontPage';
@import '../ui/styles/frontPage2';
@import '../ui/styles/template1';
@import '../ui/styles/buttonArrowRight2.scss';
@import '../ui/styles/button';
@import '../ui/styles/buttonArrowUp';
@import '../ui/styles/shopingCart';
@import '../ui/styles/navbarDropDown';
@import '../ui/styles/mobileFooter';
@import '../ui/styles/dropDownFooter';
@import '../ui/styles/mobileNavbar';
@import '../ui/styles/mobileMenu';
@import '../ui/styles/mercadoPagoCheckoutForm';
@import '../ui/styles/popUp';
@import '../ui/styles/dropDownMobileMenu.scss';
@import '../ui/styles//loader';
@import '../ui/styles/alarmPopUp';
@import '../ui/styles/errorPage';
@import '../ui/styles/notFoundPage';
@import '../talisman/styles//talismanInfo3';
@import '../talismanDigital/styles/talismanDigital.scss';
@import '../meditations/styles//meditations2';
@import '../meditations/styles//meditations3';
@import '../meditations/styles/gridMeditations';
@import '../intentions//styles//intentions3';
@import '../intentions//styles/gridIntentions';
@import '../intentions//styles/intentionInfo';
@import '../talismanAnalogic//styles/talismanAnalogic2';
@import '../talismanAnalogic//styles/talismanAnalogic3';
@import '../talismanAnalogic//styles/talismanAnalogic4';
@import '../talismanAnalogic//styles/slider';
@import '../store//styles/store1';
@import '../store//styles/store2';
@import '../store//styles/store2b';
@import '../store//styles/store3';
@import '../store//styles/dropDownIntensiones';
@import '../store//styles/dropDownMenu';
@import '../store//styles/dropDownInfo';
@import '../store//styles/buyAnalogTalisman';
@import '../store//styles/buyDigitalTalisman';
@import '../blog//styles//blog2';
@import '../blog//styles//blog3';
@import '../blog//styles/templateBlog';
@import '../blog/styles/blogNote';
@import '../auth//styles//login';
@import '../auth//styles/authFrontPage';
@import '../auth//styles/authPopUp';
@import '../contact/styles/contact';
@import '../contact/styles/messageSend';
@import '../profile//styles//profile';
@import '../profile//styles/profileNavbar';
@import '../profile//styles/acountInfo';
@import '../checkout/styles//checkoutAnalogic';
@import '../checkout/styles/checkoutDigital';
@import '../wellcome/styles/welcomeDigital';
@import '../myTalisman/styles//myTalisman';
@import '../myTalisman/styles/dropDownMyTalisman';
@import '../myTalisman/styles/activation';
@import '../myTalisman/styles/playlist';
@import '../myTalisman/styles/timer';
@import '../myTalisman/styles/alarm';
@import '../myTalisman/styles//timePicker';
@import '../myTalisman/styles//chornometer';
@import '../myTalisman/styles/talismanBox';
@import '../myTalisman/styles/constellationBox';
@import '../talismanAnalogic//styles/activationAnalogic';
@import '../siteTerms/styles/siteTerms';
@import '../myTalisman/styles/chatbot';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 63.5%;
  font-family: $font_titles;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.efectoReveal {
  animation-name: efectoReveal;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

button,
svg {
  cursor: pointer;
}

@keyframes efectoReveal {
  from {
    opacity: 0;
    filter: brightness(0%);
  }
  to {
    opacity: 1;
    filter: brightness(100%);
  }
}

//efecto en el background cuando se abre el shoping cart
.viewport-background {
  pointer-events: none;
  overflow-y: hidden;
  opacity: 0.6;
  filter: brightness(10%);

  .navbar-menu {
    background-color: transparent;
  }
}

.button-animation {
  background-color: #ecea60;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    background-color: #ecea60;
    box-shadow: 0 0 0 0 rgba(236, 234, 96, 0.7);
  }
  50% {
    background-color: #f7f5a5;
    box-shadow: 0 0 20px 10px rgba(236, 234, 96, 0.7);
  }
  100% {
    background-color: #ecea60;
    box-shadow: 0 0 0 0 rgba(236, 234, 96, 0.7);
  }
}



.leftReveal {
  animation-name: leftReveal;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}


@keyframes leftReveal {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}


.rightReveal {
  animation-name: rightReveal;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}


@keyframes rightReveal {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}


.topReveal {
  animation-name: topReveal;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes topReveal {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}