//colors

$color_primary: #6f3289;
$color_background1: #f4f4f4;
$color_background2: #ffffff;
$color_text1: #ffffff;
$color_text2: #222222;
$color_text3: #f2f2f2;

$color_yellow: #ece976;
$color_salmon: #edc7b9;
$color_lightPink: #ffefee;
$color_turquoise: #76cbc0;
$color_darkPurple: #662a80;
$color_orange: #d58630;
$color_green: #8eb55b;
$color_lightcoral: #fdf1f0;
$color_lightblue: #bfd0eb;
$color_lightgray: #ece8f0;

//fonts

$font_titles: 'Marlin Geo', sans-serif;
$font_paragrahp: 'Nib Pro';

//sizes
$mobile_navbar_height: 10vh;
$mobile_frontpage_height: 90vh;
