@import "../variables";

.arrowRight-button{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
   
      p{
        font-size: 2rem;
        font-size: 1.6rem;
        font-style: normal;
        font-family:$font_titulos;
        font-weight: 500;
       
        margin: 0;
        margin-right: 5px;
        padding-bottom: 0;


    }
    svg{
      height: 2.4rem;
    }
    

  
   
 
    
}