@import "../variables";

.arrowRight-button{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 2rem;
        font-size: 1.6rem;
        font-style: normal;
        font-family:$font_titulos;
        font-weight: 500;
        line-height: normal;
        margin-right: 5px;
        margin-bottom: 0%;
        color: $color_text2;


    }
    svg{
      height: 2.5rem;
    }
    
 
    
}