@import "../variables";

.arrowRight-button{
    display: flex;
    width: fit-content;
    height: 3vh;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 2rem;
        margin-right: 5px;
        color: $color_text2;
    }
 
    
}