@import "../../styles//variables.scss";

.section2-meditations-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .section2-meditations-text-container {
    position: absolute;
    left: 12%;
    color: $color_primary;
    width: 60%;

    h3 {
      font-size: 4rem;
      font-weight: 300;
      margin-bottom: 6%;
    }

    > p {
      font-size: 3.5rem;
      font-family: $font_paragrahp;
      line-height: 5rem;
    }

    .arrowRight-button {
      margin-top: 3vh;
      p {
        font-size: 3rem;
      }
    }
  }
}



@media screen and (max-width:1024px) {


    .section2-meditations-container {
        width: 100vw;
        min-height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
      
        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      
        .section2-meditations-text-container {
          position: absolute;
          left: 12%;
          color: $color_primary;
          width: 80%;
      
          h3 {
            font-size: 3rem;
            font-weight: 300;
            margin-bottom: 3%;
          }
      
          > p {
            font-size: 2.5rem;
            font-family: $font_paragrahp;
            line-height: 3.5rem;
          }
      
          .arrowRight-button {
            margin-top: 3vh;
            p {
              font-size: 2rem;
            }
          }
        }
      }

}

@media screen and (max-width: 678px) {
  .section2-meditations-container {
    justify-content: center;
    height: auto;
    min-height: 100vh;

    .section2-meditations-text-container {
      position: relative;
      width: 85%;
      left: 0;

      > .arrowRight-button {
        p {
          font-size: 2rem;
        }
      }
      h3 {
        font-size: 3.5rem;

        margin-bottom: 7%;
      }

      p {
        font-size: 2rem;
        line-height: 4rem;
      }
    }
  }
}
