.chat-container {
  position: fixed;
  bottom: 13%;
  right: 7.4%;
  width: 378px;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-image: url('chat_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: #ffffff4d;
  backdrop-filter: blur(5.6999998093px);
}

.chat-minimize {
  position: absolute; /* Absolute positioning within the container */
  right: 10px; /* Adjust distance from the right */
  top: -15px; /* Adjust distance from the top */
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-size: 40px; /* Adjust size as needed */
  z-index: 10; /* Ensure it's above other elements */
  transition: top 0.3s ease; /* Smooth transition for the top adjustment */
}

.chat-minimize.scrolled {
  //right: 20px; /* Adjust the distance when scrolling is detected */
}

.chat-window {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* Personalización del scrollbar para Webkit (Chrome, Safari, Edge) */
.chat-window::-webkit-scrollbar {
  width: 7px; /* Ancho de la barra */
  border-radius: 10px;
}

.chat-window::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color del fondo de la barra */
  border-radius: 10px;
}

.chat-window::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ece976, #ece076); /* Color del "thumb" */
  border-radius: 10px;
}

.chat-window::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #a383e0,
    #8a6fc5
  ); /* Color al pasar el mouse */
}

.chat-message {
  display: inline-block;
  margin: 5px 10px; /* Add space between messages */
  padding: 10px;
  border-radius: 10px;
  max-width: 70%; /* Adjust to control message width */
  word-wrap: break-word;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.user-message {
  background-color: #ece976; /* Light green for user */
  align-self: flex-end; /* Align to the right */
  text-align: right; /* Align text within the bubble */
  color: #662a80;
}

.bot-message {
  background-color: #fff; /* White for bot */
  align-self: flex-start; /* Align to the left */
  text-align: left; /* Align text within the bubble */
}

.chat-input {
  display: flex;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(13.1333332062px);
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #fff;
}

.chat-input button {
  padding: 10px 20px;
  background-color: rgba(102, 42, 128, 0.4);
  backdrop-filter: blur(7px);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: rgba(102, 42, 128, 0.8);
}

.chat-bubble {
  position: fixed;
  bottom: 13%;
  right: 8%;
  width: 50px;
  height: 50px;
  background-color: #662a80;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
