@import "../../styles//variables.scss";

.chronometer-container{
    position: relative;
    color:$color_text1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   width: fit-content;
   height: 100%;


   >.icon-container{
    position: absolute;
    top: -50%;
    width: 120%;
    margin-bottom: 2%;
    display: flex;
    justify-content: end;
    svg{
        path{
            fill:white
        }
    }
}
.chorometer-center-container{
    display: flex;
    align-items: center;
    column-gap: 5%;
    p{
        font-size: 5rem;
        font-weight: lighter;
    }

    :last-child{
        background-color: $color_yellow;
        color:$color_darkPurple
    }
}





}


   
