@import '../../styles//variables.scss';

.dropDownMyTalisman-container {
  position: absolute;
  top: 5%;
  width: 66%;
  margin: 0 auto;
  height: 80%;
  background: rgba($color: $color_darkPurple, $alpha: 0.4);
  backdrop-filter: blur(7px);
  color: $color_text1;
  z-index: 10;
  border-radius: 30px;

  /* Estilo para la barra de desplazamiento */
  ::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento */
  }

  /* Estilo para el thumb (el botón que puedes arrastrar) de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: $color_yellow; /* Cambia "#color_primary" al color deseado */
    border-radius: 5px; /* Radio de borde del dedo de la barra de desplazamiento */
    height: 10px;
  }

  /* Estilo para el riel de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Cambia "#color_background1" al color deseado */
  }

  /* Estilo para el rincón de la barra de desplazamiento */
  ::-webkit-scrollbar-corner {
    background-color: red; /* Cambia "red" al color deseado */
    width: 20px;
  }

  .dropDownMyTalisman-section-container {
    margin: 0 auto;
    height: 57%;
    width: 70%;
    overflow-y: scroll;
  }

  .dropDownMyTalisman-title-wrapper {
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    h3 {
      text-align: center;
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}

.dropDownMyTalisman-top-container {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  width: 70%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4%;
  

  border-radius: 30px;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(13.133333206176758px);
    border-radius: 30px;
  }
  li {
    color: #999999;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 3%;
    cursor: pointer;
  }
  .button-focus-style {
    background-color: $color_yellow;
    border-radius: 30px;
    padding-inline: 3%;
    color: $color_darkPurple;
  }
}

.dropDownMyTalisman-button-container {
  margin-left: 0%;

  display: flex;
  justify-content: end;
  align-items: center;
  bottom: 5%;

  width: 100%;
  height: 5vh;
  .icon-container {
    margin-right: 3%;
    margin-top: 3%;
    position: static;
    width: 15px;
    aspect-ratio: 1;
    svg {
      path {
        fill: white;
      }
    }
  }
  p {
    font-family: $font_titles;
    font-size: 14px;
    margin-left: 2%;
  }
}

.dropDownMyTalisman-card-container {
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  > h5 {
    margin-top: 1vh;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  > p {
    font-family: $font_paragrahp;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.5rem; /* 142.857% */
  }
}

.dropDownMyTalisman-sounds-table {
  width: 100%;
  border-collapse: collapse;
  max-height: 80vh;
  overflow-y: scroll;

  thead th {
    font-size: 1.8rem;
  }

  tr {
    height: 6vh;
    font-size: 1.6rem;
  }
  td {
    margin: 0 auto;
    text-align: center;
    height: 7vh;
    font-size: 1.5rem;
    user-select: none;

    .play-icon-container {
      margin: 0 auto;
      height: 30%;
      aspect-ratio: 1;
    }
  }
  .th-trackname-column {
    text-align: start;
    strong {
      margin-left: 5%;
    }
  }
  .td-trackname-column {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    strong {
      margin-left: 5%;
    }
    p {
      margin-left: 5%;
      color: gray;
      font-family: $font_titles;
    }
  }

  tbody tr:hover {
    background-color: rgba($color: $color_text2, $alpha: 0.1);
    p {
      color: $color_text2;
    }
  }

  .selected-track {
    background-color: rgba(
      $color: rgba($color: $color_primary, $alpha: 0.3),
      $alpha: 0.5
    );
  }
}

@media screen and (max-width: 678px) {
  .dropDownMyTalisman-container {
    position: absolute;
    top: 2%;
    width: 95%;
    margin: 0 auto;
    height: 85%;
    border-radius: 20px;

    .dropDownMyTalisman-section-container {
      margin: 0 auto;
      height: 65%;
      width: 95%;
      overflow-y: scroll;
    }

    .dropDownMyTalisman-title-wrapper {
      margin: 0 auto;
      margin-top: 2%;
      margin-bottom: 2%;
      width: 95%;
      h3 {
        font-size: 2.5rem;
        margin-bottom: 4vh;
      }
    }
  }

  .dropDownMyTalisman-top-container {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.6);
    width: 95%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4%;

    border-radius: 30px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(13.133333206176758px);
      border-radius: 30px;
    }
    li {
      color: #999999;
      font-size: 1.6rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      height: 100%;
      padding-inline: 3%;
      cursor: pointer;
    }
    .button-focus-style {
      background-color: $color_yellow;
      border-radius: 30px;
      padding-inline: 3%;
      color: $color_darkPurple;
    }
  }

  .dropDownMyTalisman-card-container {
    > h5 {
      font-size: 1.6rem;
    }
    > p {
      font-size: 1.5rem;
      line-height: 2.5rem; /* 142.857% */
    }
  }
}
