@import '../../styles//variables.scss';

.checkOutNavbarMobile-container {display: none}

@media screen and (max-width: 678px) {

.checkOutNavbarMobile-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 1vh;
  background-color: $color_background2;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 5px;
  box-shadow: 1x 1px 1px rgba($color: gray, $alpha: 0.5);

  > .arrowRight-button {
    font-size: 2rem;
    svg {
      transform: rotate(180deg);
    }
  }
}}
