@import "../variables";

.button-arrowDown-container {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    h6 {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom:5vh;
    }
  }
  
  .button-arrowDown--icon-container {
    height: 18px;
    width: 18px;
  }
  