@import "./dropDownMenu";

.dropDownMyTalisman-container {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 50%;
  height: 94%;
  padding-bottom: 8vh;
  background: rgba(238, 238, 238, 0.80);
  backdrop-filter: blur(7px);
  overflow-y: scroll;
  margin: 0 auto;
  z-index: 10;

  /* Estilo para la barra de desplazamiento */
  &::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }

  /* Estilo para el thumb (el botón que puedes arrastrar) de la barra de desplazamiento */
  &::-webkit-scrollbar-thumb {
    background-color: $color_primary; /* Cambia "$color_primary" al color deseado */
    border-radius: 5px; /* Radio de borde del dedo de la barra de desplazamiento */
    height: 10px;
  }

  /* Estilo para el riel de la barra de desplazamiento */
  &::-webkit-scrollbar-track {
    background-color: transparent; /* Cambia "$color_background1" al color deseado */
  }

  /* Estilo para el rincón de la barra de desplazamiento */
  &::-webkit-scrollbar-corner {
    background-color: red; /* Cambia "red" al color deseado */
    width: 20px;
  }
  


  .dropDownMyTalisman-title-wrapper {
    margin: 0 auto;
    width: 75%;
    h3 {
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}

.dropDownMyTalisman-top-container {
    margin: 0 auto;
    background-color: $color_background1;
    width: 90%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 4%;
  
    border-radius: 30px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background-color: $color_background1;
      border-radius: 30px;
    }
    li {
      color: #999999;
      font-size: 1.6rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      height: 100%;
      padding-inline: 3%;
    }
    .button-focus-style {
      background-color: $color_primary;
      border-radius: 30px;
      padding-inline: 3%;
      color: $color_text1;
    }
  }





.dropDownMyTalisman-button-container{
    margin-left: 0%;
  
    display: flex;
    justify-content: end;
    align-items: center;
    bottom: 5%;
  
    width: 100%;
    height: 5vh;
    .icon-container{
      margin-right: 2%;
      position: static;
      width: 15px;
      aspect-ratio: 1;
    }
    p{
      font-family: $font_titulos;
      font-size: 14px;
      margin-left: 2%;
    }
}

.dropDownMyTalisman-card-container{
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    >h5{
        margin-top: 1vh;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    >p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        
    }
}

.dropDownMyTalisman-sounds-table{
  width: 100%;
  border-collapse:collapse;
  max-height: 80vh;  
  overflow-y: scroll;
  
  thead th{
    font-size: 1.8rem;
  }

  tr{
    
    height: 6vh;
    font-size: 1.6rem;
  }
  td{
   
    margin: 0 auto;
    text-align: center;
    height: 7vh;
    font-size: 1.5rem;
    

    .play-icon-container{
      margin: 0 auto;
      height: 30%;
      aspect-ratio: 1;
    }
    
    
  }
  .th-trackname-column{
    text-align: start;
    strong{
      margin-left: 5%;
    }
    
  }
  .td-trackname-column{
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    strong{
      margin-left: 5%;
    }
    p{
      margin-left: 5%;
      color:gray;
      font-family: $font_titulos;
    }
  }

  tbody tr:hover{
background-color: rgba($color: $color_text2, $alpha: 0.10);
p{
  color:$color_text2;
}



  }


  .selected-track{

background-color: rgba($color:rgba($color: $color_primary, $alpha: 0.30), $alpha: 0.50);

  }
  




}