@import "../../variables";

.analogTalisman-section3-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vh;
}

.analogTalisman-section3-top-container{
  margin: 0 auto;
  width: 80.5%;
  aspect-ratio: 2.22;
  display: flex;
  margin-bottom:1%;
}
.analogTalisman-section3-top-image-container{
  height: 100%;
  width: 50%;
 

  img{
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}

.analogTalisman-section3-bottom-container{
  margin: 0 auto;
  margin-bottom: 7vh;
  width: 80%;
  display: flex;
  justify-content: center;
  column-gap: 2%;
}

.analogTalisman-section3-bottom-image-container{
  width: 23%;
  aspect-ratio: 1;
  img{
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}

