@import "../../styles//variables.scss";

.section3-blog-container{
    width: 100vw;
    >.section3-blog-title-container{
        margin: 0 auto;
        margin-bottom: 3%;
        width: 80%;
        h3{

            font-size: 2.6rem;
            color:$color_primary;
            font-weight: 300;
            margin-bottom: 10%;
          }

          h4{
            font-size: 2.2rem;
            color:$color_text2;
            font-weight: 300;
          }
    }

   
}

.blog-historias-container {
  margin: 0 auto;
  margin-bottom: 10vh;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;

}

.blog-historias-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }
  h6 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  p {
    font-family: "Marlin Geo", "sans-serif";
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
}

.blog-historias-card.card4,
.blog-historias-card.card10,
.blog-historias-card.card16 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.blog-historias-card.card9,
.blog-historias-card.card15,
.blog-historias-card.card21 {
  grid-column-start: 3;
  grid-column-end: 5;

  img {
    width: 100%;
    aspect-ratio: 2.2;
    object-fit: cover;
  }
}


@media screen and (max-width: 678px) {

  .blog-historias-container {
    margin: 0 auto;
    margin-bottom: 10vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
  
  }

  .blog-historias-card.card4,
.blog-historias-card.card10,
.blog-historias-card.card16 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.blog-historias-card.card9,
.blog-historias-card.card15,
.blog-historias-card.card21 {
  grid-column-start: 1;
  grid-column-end: 2;
}
}

