@import "./variables";
@import "./components/navbar";
@import "./components/footer";
@import "./components/home-components/homeSection1";
@import "./components/home-components/_homeSection2";
@import "./components/home-components/_homeSection3";
@import "./components/home-components/_homeSection4";
@import "./components/home-components/_homeSection5";
@import "./components/home-components/_homeSection6";
@import "./components/home-components/_homeSection7";
@import "./components/home-components/_homeSection8";
@import "./components/home-components/_homeSection9";

@import "./commons//button";
@import "./commons/buttonArrowRight";
@import "./components//carrusel";
@import "./commons/carruselCard";
@import "./commons/musicCarruselCard";
@import "./components/musicCarruseL";
@import "./components//slider";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font_titulos;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;

}

p{
  font-family:'Nib Pro', sans-serif;
}


::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color_primary;
    border-radius: 5px; /* Radio de borde del dedo de la barra de desplazamiento */
    height: 100px;
  }

  ::-webkit-scrollbar-track {
    background-color:$color_background1;; /* Color de fondo de la pista de la barra de desplazamiento */
    
  }

  ::-webkit-scrollbar-corner {
    background-color: red;
    width: 20px;
    height: 20px;
  }


