@import "./components/navbar";
@import "./components/footer";
@import "./components/home-components/homeSection1";
@import "./components/home-components/_homeSection2";
@import "./components/home-components/_homeSection3";
@import "./components/home-components/_homeSection4";
@import "./components/home-components/_homeSection5";
@import "./commons//button";
@import "./commons/buttonArrowRight";
@import "./components//carrusel";
@import "./commons/carruselCard";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;

}

