@import "./variables";
@import "./components/navbar";
@import "./components/footer";
@import "./components/home-components/homeSection1";
@import "./components/home-components/_homeSection2";
@import "./components/home-components/_homeSection3";
@import "./components/home-components/_homeSection4";
@import "./components/home-components/_homeSection5";
@import "./components/home-components/_homeSection6";
@import "./components/home-components/_homeSection7";
@import "./components/home-components/_homeSection8";
@import "./components/home-components/_homeSection9";

@import "./commons//button";
@import "./commons//buttonArrowDown";
@import "./commons/buttonArrowRight";
@import "./components//carrusel";
@import "./commons/carruselCard";
@import "./components/slider";
@import "./components/intensiones-components/intensionesSection1";
@import "./components/intensiones-components/intensionesSection2";
@import "./components/intensiones-components/intensionesSection3";
@import "./components//talisman-analog-components/AnalogTalismanSection1";
@import "./components//talisman-analog-components/AnalogTalismanSection2";
@import "./components//talisman-analog-components/AnalogTalismanSection3";
@import "./components//talisman-analog-components/AnalogTalismanSection4";
@import "./components//talisman-analog-components/AnalogTalismanSection5";
@import "./components//talisman-analog-components/AnalogTalismanSection6";
@import "./components//talisman-analog-components/AnalogTalismanSection7";
@import "./components/articulosDestacados";
@import "./commons/cardArticuloDestacado";
@import "./commons/titleComponent";
@import "./components/giiftComponent";
@import "./components//carrusel3D";
@import "./components/placaTipo1";
@import "./components/placaTipo2";
@import "./components/wallpaperTipo1";
@import "./components/wallpaperTipo2";
@import "./components/talisman-digital-components/DigitalTalismanSection1";
@import "./components/talisman-digital-components/DigitalTalismanSection2";
@import "./components/talisman-digital-components/DigitalTalismanSection3";
@import "./components/talisman-digital-components/DigitalTalismanSection4";
@import "./components/portadaTalisman";
@import "./components/talismanesComponent";
@import "./components/talisman-landing-components/LandingTalisman";
@import "./components/tienda-components//tienda";
@import "./views/login";
@import "./views/customTalisman";
@import "./views/buyDigitalTalisman";
@import "./commons/dropDownMenu";
@import "./commons//buttonArrowUp";
@import "./components/destacadosBlog";
@import "./views/blog";
@import "./components/carruselIntensiones";
@import "./commons/dropDownInfoContainer";
@import "./components/dropDownIntensiones";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font_titulos;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;

}

p{
  font-family:'Nib Pro', sans-serif;
}


::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color_primary;
    border-radius: 5px; /* Radio de borde del dedo de la barra de desplazamiento */
    height: 100px;
  }

  ::-webkit-scrollbar-track {
    background-color:$color_background1;; /* Color de fondo de la pista de la barra de desplazamiento */
    
  }

  ::-webkit-scrollbar-corner {
    background-color: red;
    width: 20px;
    height: 20px;
  }


