@import "../../styles//variables.scss";

.popUp-container{
    position: absolute;
    margin-top: 5vh;
    width: 80%;
    background-color: $color_background1;
    color:$color_primary;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 10;
    padding-top: 4%;
    padding-bottom: 4%;
    h4{
        font-size: 4rem;
        margin-left: 5%;
        margin-bottom: 1%;

font-weight: 300;

    }
    p{
        margin-left: 5%;
        margin-bottom: 7%;
        font-family: $font_titles;
        font-size: 1.7rem;
font-weight: 400;
color:$color_text2;

    }
  
    .button-auxiliar-container{
        margin-left: 5%;
        width: 80%;
      height: 20%;
      button{
        color:$color_primary;
      font-weight: 600;
        font-size: 1.4rem;
        padding: 3.5%;
        padding-inline: 10%;
        border: none;
    
      }
    }
}


@media screen and (max-width: 678px) {


  .popUp-container{
position: relative;
   margin-top: 5vh;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    h4{
        font-size: 2.5rem;
        margin-left: 0%;
        margin-bottom: 2%;

font-weight: 300;

    }
    p{
        margin-left: 0%;
        margin-bottom: 7%;
        font-family: $font_titles;
        font-size: 1.7rem;
font-weight: 400;
color:$color_text2;

    }
  
    .button-auxiliar-container{
        margin-left: 0%;
        margin: 0 auto;
        width: 80%;
      height: 25%;
      display: flex;
      justify-content: center;
      button{
        height: 100%;
        font-size: 1.4rem;
        padding: 3.5%;
        padding-inline: 10%;
        border: none;
    
      }
    }
}




}